# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Miscellaneous
*.bak
*.swp
*.tmp
*.temp
*.old
*.backup

# Not included in the repository
ACI-IoT-2023.csv

